.eventDetailContainer {
    background-color: #f0f8ff;
    padding: 2rem;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2.5rem;
    color: #007BFF;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: justify;
    color: #333;
  }
  
  .eventInfo {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .eventInfo p {
    margin: 0.5rem 0;
  }
  
  .button {
    padding: 0.75rem 1.5rem;
    background-color: #007BFF;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  